<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id = "Film" class = "XmlExample.ColorFilm" />

    <bean id = "camera" class = "XmlExample.Camera">
        <constructor-arg value = "Nikon" />
        <property name = "Film">
            <ref bean = "Film" />
        </property>
    </bean>
</beans>